@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #8884FF;

    overflow: hidden;
}

.container {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
}

/*---------------------- Logo Styling*/
#logo-head {
    background-color: #5D576B;
    position: relative;
    width: 100%;
}

.logo {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #fafafa;
    text-align: center;
    padding: 10px;

}

/*------------------ game menu styling */
#rules-window,
#game-menu {
    border-style: solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #D7BCE8;
    height: 80%;
    width: 80%;
    border: none;
    font-family: 'Nunito', sans-serif;
    box-shadow: #5D576B 5px 5px 12px;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20% 10%;
}

#game-menu h1 {
    text-transform: uppercase;
    text-decoration: underline;
}

#card-game button,
#game-menu button,
#rules-window button {
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    border: none;
    margin: 1rem 0;
    border-radius: 5px;
    font-weight: bold;
    background-color: #5D576B;
    color: #fafafa;
    box-shadow: #555 2px 2px 8px;
}

/* --------------- Rules window styling */

#rules-window {
    display: none;
}

#rules-window p {
    width: 80%;
    margin-top: 20px;
}

/* ---------------- Card Grid Styles */


.card-grid {
    display: none;
    width: 100%;
    position: relative;
}

.exit-button {
    margin-left: 48%;
    margin-top: 20px;
}

.card {
    width: 20%;
    display: inline-block;
    position: relative;
    background-size: cover;
    margin-left: 50px;
    height: 150px;
    margin-top: 50px;
}

.card-back {
    background-color: #000;
    color: #000;
}

.card-front {
    background-color: #FFF;
    color: green;
}