@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Nunito:wght@300&display=swap');

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-color: #8884FF;
}

/*---------------------- Logo Styling*/
.logohead {
    background-color: #5D576B;
}

.logo {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #fafafa;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*------------------ footer styling */